<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_task.Properties.Settings.Test_zadachaConnectionString"
            connectionString="Data Source=DESKTOP-OVC86RC\DESKTOP;Initial Catalog=Test_zadacha;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>